<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Document</title>
</head>

<body>
  <nav>
    <header>
      <div class="name">FearFall.Ai</div>
      <div class="right">
        <a href="/">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('ttp') }}">Text To PPT</a>
        <a href="{{ url_for('ptt') }}">PPT To Description</a>
        <a>Community</a>
        <a>Payment</a>
        <a>Q/A</a>
      </div>
    </header>
  </nav>

  <div class="img">
    <div class="about-section">
      <h1>Text to PPT</h1>
      <br>
      <p>The PPT Maker is a powerful tool designed to simplify the creation of visually appealing and engaging presentations. <br> It provides an intuitive interface and a wide range of features to help users craft professional-quality slideshows.
      </p>
      <br><br><br><br>
      <h1>PPT to Description</h1>
      <br>
      <p>Just upload your presentation and get the description of your presentation. <br>
It provides a comprehensive set of tools and features that enable users to craft impactful presentations for various purposes
      </p>
    </div>
  </div>
</body>

</html>