<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Document</title>
</head>

<body>
  <nav>
    <header>
      <div class="name">FearFall.Ai</div>
      <div class="right">
        <a href="/">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('ttp') }}">Text To PPT</a>
        <a href="{{ url_for('ptt') }}">PPT To Description</a>
        <a>Community</a>
        <a>Payment</a>
        <a>Q/A</a>
      </div>
    </header>
  </nav>

  <section class="img">
    <h1>Ppt to Text Converter</h1>
    <form action="">
      <label for="images" class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file" id="images" accept="image/*" required>
      </label>
      <button>Convert</button>
    </form>
  </section>
</body>

</html>